.border{
    border: 2px solid red;
    margin: 3px;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;

}

.items-center{
    align-items: center;
}

.invert {
    filter: invert(1);
    margin: 1px;
    padding: 1px;
}

.bg-black {
    background-color: black;
    color: white;
}

.bg-grey {
    background-color: #121212;
}

.p-1 {
    padding: 10px;

}
.rounded{
    border-radius: 7px;
}

.m-1{
    margin: 5px;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
}
.header > *{
    padding: 20px;
}
/* Add this CSS to style the scrollbar */

/* width */
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #333; /* Dark background color for the track */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #555; /* Dark color for the scrollbar handle */
    border-radius: 6px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #777; /* Lighter color when the scrollbar handle is hovered */
  }




  